<div class="card mb-3" style="margin: 1.5em;">
	<div class="card-header">
		<i class="fa fa-file-text-o" aria-hidden="true"></i> Listes des
		Entrepôts
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" id="dataTable"
				cellspacing="0">
				<thead>
					<tr>
						<th>Nom de l'entrepôt</th>
						<th>Adresse</th>
						<th>Secteur</th>
						<th>Groupe</th>
						<th>Capacité</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in entrepots">
						<td>{{item.nomBatiment}}</td>
						<td>{{item.adresse}}</td>
						<td>{{item.secteur}}</td>
						<td>{{item.groupe}}</td>
						<td>{{item.capacite}}</td>
						<td><button type="nav-link" data-toggle="modal"
								data-target="#exampleModal" class="btn btn-primary btn-block"
								ng-click="selectEntrepot(item)">
								<i class="fa fa-refresh" aria-hidden="true"></i> Modifier
							</button>
							<button type="submit" class="btn btn-primary btn-block"
								ng-click="deleteEntrepot(item.idEntrepot)">
								<i class="fa fa-times-circle" aria-hidden="true"></i> Supprimer
							</button></td>
					</tr>
					<tr>
						<td><button type="nav-link" data-toggle="modal"
								data-target="#exampleModal" class="btn btn-primary btn-block"
								ng-click="selectEntrepot()">
								<i class="fa fa-plus-circle" aria-hidden="true"></i> Enregistrer
								un nouvel entrepôt
							</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- update Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Editer Entrepôt</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card-body">

						<form>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputNom">Nom Entrepôt</label> <input type="text"
											class="form-control" id="inputNom"
											placeholder="Entrer le nom de l'entrepôt"
											ng-model="entrepotDialog.nomBatiment">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputAdresse">Adresse</label> <input type="text"
											class="form-control" id="inputAdresse"
											placeholder="Entrer l'adresse"
											ng-model="entrepotDialog.adresse">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputSecteur">Secteur</label> <input type="text"
											class="form-control" id="inputSecteur"
											placeholder="Entrer le secteur"
											ng-model="entrepotDialog.secteur">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputGroupe">Groupe</label> <input
											type="text" class="form-control" id="inputGroupe"
											placeholder="Entrer le groupe"
											ng-model="entrepotDialog.groupe">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputCapacite">Capacité</label> <input type="text"
											class="form-control" id="inputCapacite"
											placeholder="Entrer la capacité"
											ng-model="entrepotDialog.capacite">
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">
						<i class="fa fa-times" aria-hidden="true"></i> Annuler
					</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						ng-click="updateEntrepot(entrepotDialog)">
						<i class="fa fa-check" aria-hidden="true"></i> Confirmer
					</button>
				</div>
			</div>
		</div>
	</div>