<div class="card mb-3" style="margin: 1.5em;">
	<div class="card-header">
		<i class="fa fa-table"></i> Listes des entrepots
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" id="dataTable"
				cellspacing="0" >
				<thead>
        <tr>
            <th style="min-width: 80px;">Nom Entrepot</th>
            <th style="min-width: 80px;">Adresse</th>
            <th style="min-width: 80px;">Secteur</th>
            <th style="min-width: 80px;">Groupe</th>
            <th style="min-width: 80px;">Capacite</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entrepot in entrepots">
            <td>{{ entrepot.nomBatiment }}</td>
            <td>{{ entrepot.adresse }}</td>
            <td>{{ entrepot.secteur }}</td>
            <td>{{ entrepot.groupe }}</td>
            <td>{{ entrepot.capacite }}</td>
        <td><button ng-click="updateEntrepot(entrepot.idBatiment)" class="">editer</button></td>
						<td><button ng-click="deleteEntrepot(entrepot.idBatiment)" class="">Supprimer</button></td>
					</tr>
        </tbody>
    </table>
    <button ng-click="saveEntrepot(entrepot)" class="">Creer Entrepot</button>
</div>
</div>
</div>
