<div class="card mb-3" style="margin: 1.5em;">
	<div class="card-header">
		<i class="fa fa-table"></i> Formulaires Fournisseurs
	</div>
	<div class="card-body">

		<form>
			<div class="form-group">
				<div class="form-row">
					<div class="col-md-6">
						<label for="inputNom">Nom Entreprise</label> <input type="text"
							class="form-control" id="inputNom" aria-describedby="nameHelp"
							placeholder="Entrer Nom de l'entreprise"
							ng-model="fournisseur.nomEntreprise">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-row">
					<div class="col-md-6">
						<label for="inputContact">Nom contact</label> <input type="text"
							class="form-control" id="inputContact"
							aria-describedby="nameHelp" placeholder="Entrer nom contact"
							ng-model="fournisseur.nomResponsable">
					</div>
					<div class="col-md-6">
						<label for="inputEmail">Adresse mail</label> <input type="email"
							class="form-control" id="inputEmail" aria-describedby="emailHelp"
							placeholder="Entrer courriel" ng-model="fournisseur.mail">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-row">
					<div class="col-md-6">
						<label for="inputNumTelephone">Numéro téléphone</label> <input
							type="text" class="form-control" id="inputNumTelephone"
							placeholder="Entrer numéro de téléphone"
							ng-model="fournisseur.numTel">
					</div>
					<div class="col-md-6">
						<label for="inputAdresse">Adresse postale</label> <input
							type="text" class="form-control" id="inputAdresse"
							placeholder="Entrer adresse fournisseur"
							ng-model="fournisseur.adresse">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-row">
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-block"
							ng-click="updateFournisseur(fournisseur)">Enregistrer</button>
					</div>
					<div class="col-md-6">
						<a type="submit" class="btn btn-primary btn-block"
							ui-sref="fournisseurs">Annuler</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	
</div>
