<div class="card mb-3" style="margin: 1.5em;">
	<div class="card-header">
		<div style="float: inline-start;">
			<p style="font-size: x-large; margin-bottom: 0;">
				<i class="fa fa-fw fa-table"></i>Listes des Fournisseurs
			</p>
		</div>
		<div style="float: inline-end;">
			<button type="nav-link" data-toggle="modal" data-target="#editModal"
				class="btn btn-primary btn-block" ng-click="selectFournisseur()">
				<i class="fa fa-plus-circle" aria-hidden="true"></i> Enregistrer un
				nouveau Fournisseur
			</button>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" id="dataTable"
				cellspacing="0">
				<thead>
					<tr>
						<th>Nom de l'entreprise</th>
						<th>Nom du contact</th>
						<th>Courriel du contact</th>
						<th>Num&eacute;ro de t&eacute;l&eacute;phone du contact</th>
						<th>Adresse de l'entreprise</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in fournisseurs">
						<td>{{item.nomEntreprise}}</td>
						<td>{{item.nomResponsable}}</td>
						<td>{{item.mail}}</td>
						<td>{{item.numTel}}</td>
						<td>{{item.adresse}}</td>
						<td>
							<div class="dynamicBlock">
								<button type="nav-link" data-toggle="modal"
									data-target="#editModal" class="btn btn-primary btn-block"
									ng-click="selectFournisseur(item)">
									<i class="fa fa-refresh" aria-hidden="true"></i> Modifier
								</button>
							</div>
							<div class="dynamicBlock">
								<button type="submit" class="btn btn-primary btn-block"
									ng-click="deleteFournisseur(item.idFournisseur)">
									<i class="fa fa-times-circle" aria-hidden="true"></i> Supprimer
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- update Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Editer
						Fournisseur</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card-body">

						<form>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputNom">Nom Entreprise</label> <input
											type="text" class="form-control" id="inputNom"
											aria-describedby="nameHelp"
											placeholder="Entrer Nom de l'entreprise"
											ng-model="fournisseurDialog.nomEntreprise">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputContact">Nom contact</label> <input
											type="text" class="form-control" id="inputContact"
											aria-describedby="nameHelp" placeholder="Entrer nom contact"
											ng-model="fournisseurDialog.nomResponsable">
									</div>
									<div class="col-md-6">
										<label for="inputEmail">Adresse mail</label> <input
											type="email" class="form-control" id="inputEmail"
											aria-describedby="emailHelp" placeholder="Entrer courriel"
											ng-model="fournisseurDialog.mail">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="inputNumTelephone">Num&eacute;ro
											t&eacute;l&eacute;phone</label> <input type="text"
											class="form-control" id="inputNumTelephone"
											placeholder="Entrer numéro de téléphone"
											ng-model="fournisseurDialog.numTel">
									</div>
									<div class="col-md-6">
										<label for="inputAdresse">Adresse postale</label> <input
											type="text" class="form-control" id="inputAdresse"
											placeholder="Entrer adresse fournisseur"
											ng-model="fournisseurDialog.adresse">
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">
						<i class="fa fa-times" aria-hidden="true"></i> Annuler
					</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						ng-click="updateFournisseur(fournisseurDialog)">
						<i class="fa fa-check" aria-hidden="true"></i> Confirmer
					</button>
				</div>
			</div>
		</div>
	</div>

</div>