<div class="card mb-3" style="margin: 1.5em;">
	<div class="card-header">
		<i class="fa fa-table"></i> Listes des Fournisseurs
	</div>
	<div class="card-body">
		<button type="submit" class="btn btn-primary btn-block"
			ui-sref="fournisseursForm()">Enregistrer un nouveau
			fournisseur</button>
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" id="dataTable"
				cellspacing="0">
				<thead>
					<tr>
						<th>idFournisseur</th>
						<th>nomEntreprise</th>
						<th>nomResponsable</th>
						<th>mail</th>
						<th>numTel</th>
						<th>adresse</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in fournisseurs">
						<td>{{item.idFournisseur}}</td>
						<td>{{item.nomEntreprise}}</td>
						<td>{{item.nomResponsable}}</td>
						<td>{{item.mail}}</td>
						<td>{{item.numTel}}</td>
						<td>{{item.adresse}}</td>
						<td><button type="submit" class="btn btn-primary btn-block"
								ui-sref="fournisseursForm({id:item.idFournisseur})">
								Modifier</button>
								<button type="submit" class="btn btn-primary btn-block"
									ng-click="deleteFournisseur(item.idFournisseur)">
									Supprimer</button></td>
					</tr>
				</tbody>
			</table>



		</div>
	</div>
</div>