<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login DinoMarket</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">
 <script src="/bower_components/angular/angular.min.js"></script>
 <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
   <script src="/loginJS/loginApp.js"></script>
       <script src="/loginJS/loginService.js"></script>
    <script src="/loginJS/loginCtrl.js"></script>
 
 <!-- FavIcon -->
<link href="/images/fav-icon.ico" rel="icon" type="image/x-icon" />
  </head>

  <body class="bg-dark" style="background-image: url('images/Jungle.png');background-size: cover" ng-app="loginApp">

    <div class="container" ng-controller="loginCtrl">
   <form >

      <div class="card card-login mx-auto mt-5">
        <div class="card-header">
          Connexion
        </div>
        
        <div style="text-align:center; color: crimson; padding-top: 10px">
        {{message}}
        </div>
        
        <div class="card-body">
          
            <div class="form-group">
              <label for="exampleInputEmail1">Pseudo</label>
              <input type="text" ng-model="login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button class="btn btn-primary btn-block"  type="submit" ng-click="selectUser()" onclick="verifuser()" >Se connecter</button>
        </div>
      </div>
      
      
      
                   {{userJ.pseudo}}
      
      
      </form>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


<!-- <script> -->
// function verifuser(){
// var pseudo = {{userJ.pseudo}} ;
// 	if (  pseudo !=null){
// 		window.location.replace("localhost:8086/accueil.html#/home");
// 	}
		
	
// }


<!-- </script> -->

  </body>

</html>
