<div class="card mb-3" style="margin: 1.5em;">
	<div class="card-header">
		<i class="fa fa-table"></i> Listes des Magasins
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" id="dataTable"
				cellspacing="0" >
				<thead>
					<tr >
						<th style="min-width: 80px;">Nom du magasin</th>
						<th style="min-width: 80px;">Adresse</th>
						<th style="min-width: 80px;">Secteur</th>
						<th style="min-width: 80px;">Groupe</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in magasins">
						<td>{{ item.nomBatiment }}</td>
						<td>{{ item.adresse }}</td>
						<td>{{ item.secteur }}</td>
						<td>{{ item.groupe }}</td>
						<td><button ng-click="updateMagasin(item.idBatiment)" class="">editer</button></td>
						<td><button ng-click="deleteMagasin(item.idBatiment)" class="">Supprimer</button></td>
					</tr>
				</tbody>
			</table>
			<button ng-click="saveMagasin(item)" class="">Creer Produit</button>
		</div>
	</div>
</div>