<div class="card mb-3" style="margin: 1.5em;">
	<div class="card-header">
		<i class="fa fa-table"></i> Listes des Produits
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" id="dataTable"
				cellspacing="0" >
				<thead>
					<tr >
						<th style="min-width: 80px;">Nom</th>
						<th style="min-width: 80px;">prix vente</th>
						<th style="min-width: 80px;">descriptif</th>
						<th style="min-width: 80px;">marque</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="produit in produits">
						<td>{{ produit.nomProduit }}</td>
						<td>{{ produit.prixVente }}</td>
						<td>{{ produit.descriptif }}</td>
						<td>{{ produit.marque }}</td>
						<td>
						<button class="nav-link" data-toggle="modal"
						data-target="#exampleModal" ng-click="selectProduit(produit)">editer</button>	
						</td>
						<td><button class="nav-link" ng-click="deleteProduit(produit.idProduit)" >Supprimer</button></td>
					</tr>
				</tbody>
			</table>
			<button class="nav-link" ng-click="saveProduit(produit)">Creer Produit</button>
		</div>
	</div>
	
	
				<!-- update Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Editer Produit</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<label for="inputNomProduit">Nom Produit</label> <input type="text"
							class="form-control" id="inputNomProduit" aria-describedby="nameHelp"
							ng-model="produit.nomProduit" >
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Annuler</button>
							<a class="btn btn-primary" ng-click="updateProduit(produit)">Confirmer</a>
						</div>
					</div>
				</div>
			</div>
	
</div>